
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }

        .auto-style2 {
            text-align: center;
        }

        .auto-style3 {
            text-align: center;
            width: 355px;
        }
    </style>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>

        function getorder() {
            //数据发送到后台
            var Name = $('#1').val();
            var Describe = $('#2').val();
            var userid = $('#3').val();
            var DesignerID = 1;
            var Money = $('#5').val();
            var State = 0;
            var Gold = $('#7').val();
            var Remark = $('#8').val();

            var vip = "localhost:53559";
            var a2url = 'http://' + vip + '/HomeInterface/Getorder';
            $.ajax({
                type: "POST",  //提交方式  

                url: a2url,//路径  
                data: {
                    JewelryName: Name,  JewelryDescribe:Describe,
                    UserID: userid, DesignerID: DesignerID, Money: Money, State: State, Gold: Gold, Remark: Remark

                },
                dataType: "Text",
                success: function (result) {//返回数据根据结果进行相应的处理  

                    alert(result);
                },
                error: function () {
                    alert("没返回");
                }
            });
        }

    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div>

            <table align="center" class="auto-style1">
                <tr>
                    <td class="auto-style3" >订单号：</td>
                    <td class="auto-style2">
                        <input id="text1" name="text1" type="text"  />
                    </td>
                </tr>
           
                <tr>
                    <td class="auto-style3">珠宝名：</td>
                    <td class="auto-style2">
                        <input id="1" name="1" type="text" />
                    </td>
                </tr>
                <tr>
                    <td class="auto-style3">珠宝描述：</td>
                    <td class="auto-style2">
                        <input id="2" name="2" type="text" />
                    </td>
                </tr>
                <tr>
                    <td class="auto-style3">用户id：</td>
                    <td class="auto-style2">
                        <input id="3" name="3" type="text" />
                    </td>
                </tr>
                <tr>
                    <td class="auto-style3">金额：</td>
                    <td class="auto-style2">
                        <input id="5" name="5" type="text" />
                    </td>
                </tr>
                <tr>
                    <td class="auto-style3">金类型：</td>
                    <td class="auto-style2">
                        <input id="7" name="7" type="text" />
                    </td>
                </tr>
                <tr>
                    <td class="auto-style3">备注：</td>
                    <td class="auto-style2">
                        <input id="8" name="8" type="text" />
                    </td>
                </tr>
                <tr>
                    <td class="auto-style2" colspan="2">
                        <input id="Button1" type="button" value="下单"  onclick="getorder()"/>
                    </td>
                </tr>
            </table>

        </div>
    </form>
</body>
</html>
